#fcomics{
float:left;
margin-top:10px;
margin-right:1px;
width:80%;
height:500px;
padding:1px;
border-style:solid;
border-color:indigo;
}
#fcomics li{
list-style-type:none;
float:left;
width:19.5%;
height:99%;
margin-right:1px;
border-style:solid;
border-color:indigo;
}
#fcomics img{
height:400px;
}
#fcomics p{
width:100%;
text-align:center;
}