#footer {
display:block;
background-color: blueviolet;
}
#footer  ul{
list-style-type: none;
background-color: blueviolet;
margin: 0;
padding: 0;
overflow: hidden;
margin-top: 10px;
}
#footer li { 
float: left;
margin-left: 10px;
}
#footer ul {
margin-left: 450px;
}
#footer a { 
text-decoration: none;
color: #fff; 
padding: 11px; 
display: block; 
} 