html{
	background-color : black ;
}
header #logo{
	width : 50px ;
	height : 50px ;
	background-color : violet ;
	border-size : 1px ;
	border-color : white ;
	border-style : solid ;
}
#navigation tr, td{
	background-color : violet ;
}
#navigation a{
	color : white ;
	text-decoration : none ;
}